@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Lobster&family=Young+Serif&display=swap');
*{
    padding:0px;
    margin:0px;
}
div{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: blanchedalmond;
}
.menubar{
    height: 9vh;
    background-color: rgb(182, 10, 10);
    font-family:  'Lobster', cursive;
}
.product{
    display: inline-block;
    float: left;
    border-radius: 5px;
    padding-top: 2px;
    color: antiquewhite;
    margin-top: 5px;
    margin-left: 7px;
}
.links{
    display: inline-block;
    float: right;
    border-radius: 5px;
    padding-right: 5px;
    margin-right: 10px;
    margin-top: 12px;
    font-size: large;
}
#name{
    background-color: rgb(224, 33, 33);
}
#me{
    background-color: rgb(224, 33, 33);
}
#me a{
    color: antiquewhite;
}
#us{
    background-color: rgb(224, 33, 33);
}
#us a{
    color: antiquewhite;
}
#more{
    background-color: rgb(224, 33, 33);
}
#more a{
    color: antiquewhite;
}
#pages{
    background-color: rgb(224, 33, 33);
}
#pages a{
    color: antiquewhite;
}
.boxes{
    font-family: 'Lobster', cursive;
}
.box1{
    display: inline-block;
    float: left;
    width: 150px;
    height: 350px;
    margin-left: 15px;
    margin-top: 20px;
    margin-right: 10px;
    background-color: rgb(182, 10, 10);
    border-radius: 10px;
}
.box2{
    display: inline-block;
    float: center;
    width: 1055px;
    height: 500px;
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 20px;
    background-color: rgb(182, 10, 10);
    border-radius: 10px;
}
.box3{
    display: inline-block;
    float: right;
    width: 250px;
    height: 400px;
    margin-right: 15px;
    margin-top: 20px;
    background-color: rgb(182, 10, 10);
    border-radius: 10px;
}
.links2{
    display: block;
    margin-left: 40px;
    margin-right: 45px;
    border-radius: 5px;
    margin-top: 40px;
    font-size: medium;
}
.box1 h3{
    color: antiquewhite;
    border-radius: 5px;
    text-align: center;
}
#others{
    background-color: rgb(224, 33, 33);
    border-radius: 5px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
}
#dressing{
    background-color: rgb(224, 33, 33);
    text-align: center;
}
#dressing a{
    color: antiquewhite;
}
#drinks{
    background-color: rgb(224, 33, 33);
    text-align: center;
}
#drinks a{
    color: antiquewhite;
}
#soup{
    background-color: rgb(224, 33, 33);
    text-align: center;
}
#soup a{ 
    color: antiquewhite;
}
#salads{
    background-color: rgb(224, 33, 33);
    text-align: center;
}
#salads a{
    color: antiquewhite;
}
.box2 h1{
    color: antiquewhite;
    font-size: 50px;
    margin-top: 20px;
    margin-left: 50px;
}
.box2 p{
    color: antiquewhite;
    margin-top: 120px;
    margin-left: 100px;
    margin-right: 20px;
}
#iraq{
    width: 10px;
    height: 10px;
}
.image p{
    color: antiquewhite;
    margin-left: 25px;
}